<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Hardik Site</title>
</head>
<body>
    {{>navbar}}
    {{!-- hero section starts --}}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1 justify-content-center ">
                        <h1>WE WILL HELP YOU TO</h1>
                        <h1>GROW YOUR BUSSINESS</h1>
                        <p>We Are The Teams Of <span class="bold-style">Professional Develepor</span></p>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                        <figure>
                            <img src="images/growth.svg" alt="hero Section img">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- hero section ends --}}

    {{!-- about us starts --}}
    {{>about}}
    {{!-- about us ends --}}
    {{!-- our Services starts --}}
    {{>service}}
    {{!-- our Services ends --}}
    {{!-- maps starts --}}
    {{>maps}}
    {{!-- maps ends --}}
    {{!-- contact starts --}}
    {{>contact}}
    {{!-- contact ends --}}

<script src="../jq/jquery.js" type="text/javascript"></script>
<script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>