<div class="container-fluid mt-5 about-style" id="serviceid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Our Services</h1>
      <p class="text-center sub-heading">Grow your business with us</p>
      <div class="row">
        <div class="col-md-4">
          <div class="box">
            <div class="our-services settings">
              <div class="icon">
                <img src="http://i.imgur.com/6NKPrhO.png" alt="text" />
              </div>
              <h4>INCREASE BUSINESS</h4>
              <p>Drive traffic, increase sales, and achieve your ROI goals with a beautiful, fully functional, and conversion focused web strategy and site from Neoreef.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services settings">
              <div class="icon">
                <img src="http://i.imgur.com/6NKPrhO.png" alt="text" />
              </div>
              <h4>IMPROVE SERVICE</h4>
              <p>With 80+ apps to suit a variety of businesses, Neoreef helps you deliver exactly what your customers need when they need it.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services settings">
              <div class="icon">
                <img src="http://i.imgur.com/6NKPrhO.png" alt="text" />
              </div>
              <h4>REDUCE COSTS</h4>
              <p>The Neoreef platform regularly receives new functionality and updates, meaning you don’t have to spend thousands on a totally new website every few years.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services settings">
              <div class="icon">
                <img src="http://i.imgur.com/6NKPrhO.png" alt="text" />
              </div>
              <h4>HANDS-ON COONTROL</h4>
              <p>You’re always in the driver’s seat, and you have full control over your site. If you ever need help, our support team is just a call or email away.
              </p>
            </div>
          </div>
        </div>
        {{!-- <div class="col-md-4">
          <div class="box">
            <div class="our-services settings">
              <div class="icon">
                <img src="http://i.imgur.com/6NKPrhO.png" alt="text" />
              </div>
              <h4>Setting</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services settings">
              <div class="icon">
                <img src="http://i.imgur.com/6NKPrhO.png" alt="text" />
              </div>
              <h4>Setting</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
              </p>
            </div>
          </div>
        </div> --}}
      </div>
    </div>
  </div>
</div>